html, body {
  margin:  0px;
  padding: 0px;
  border:  0px;
  background-color: #191919;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #2e3436;
  line-height: 20px;
 }

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 1020px; 
}

.d3-vec {
  position: absolute;
}

.eqpoint {
  fill: rgb(0, 180, 204);
}

.playout {
  fill: rgb(60, 60, 60);
}
.playover {
  fill: rgb(0, 180, 204);
}

.invisible {
  fill: rgba(0, 180, 204, 0);
}

.year {
  fill: rgb(60, 60, 60);
  font-family: "Verdana";
  font-size: "60";
}