<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' rel='stylesheet' />
    <link href="../css/mapvis.css" rel="stylesheet">
  </head>
  <body>

	<div class="row-fluid">

	  <!-- Sidebar -->
	  <div id="sidebar" class="span4">

	  	<div class="introduction">
	  		<h1 class="heading">{{ page.title }}</h1>
	  		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
	  		Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
	  		when an unknown printer took a galley of type and scrambled it to make a type 
	  		specimen book.</p>

	  		<form class="inline-form">
	  			<button id="btnPlay" class="btn btn-info" type="button">Play</button>
	  		</form>
	  	</div>

	  	<div class="tabbable">
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab-about" data-toggle="tab">About</a></li>
		    <li><a href="#tab-data"  data-toggle="tab">Data</a></li>
		  </ul>
		  <div class="tab-content">

		    <div class="tab-pane active" id="tab-about">
			  <dl>
			  	<dt>Maps</dt>
			  	<dd>The mapping libraries and tiles are provided by 
			  		<a href="http://mapbox.com/">MapBox</a>. 
			  		Mapbox uses open data from <a href="http://www.openstreetmap.org/">
			  		OpenStreepMap</a> and its contributors.
			  	</dd>
			  </dl>

		      <address>
			    <strong>Pablo Navarro Castillo</strong><br>
			    <a href="mailto:pnavarrc@gmail.com">pnavarrc@gmail.com</a>
			  </address>
		    </div>
		    <div class="tab-pane" id="tab-data">
		    	<dl>
					<dt>Earthquake Data</dt>
					<dd>The earthquake data was retrived from the ANSS Composite Catalog. Thanks 
						to the <a href="http://earthquake.usgs.gov/monitoring/anss/">Advanced 
						National Seismic System (ANSS)</a> for providing the catalog and to the 
						<a href="http://quake.geo.berkeley.edu/">Northern California Earthquake
						 Data Center (NCEDC)</a> and to the organizations that contributed the 
						 data to the NCEDC.
					</dd>
			  </dl>
		    </div>
		  </div>
		</div>

	  </div>

	  <!-- Map -->
	  <div id="map" class="span8"></div>
	  <div id="d3l"></div>

	</div>


    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
	{{ content }}

	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap-tab.js"></script>
</body>