<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' rel='stylesheet' />
    <link href="../css/mapvis.css" rel="stylesheet">
  </head>
  <body>

	<div class="row-fluid">

	  <!-- Sidebar -->
	  <div id="sidebar" class="span4">

	  	<div class="introduction">
	  		<h1 class="heading">{{ page.title }}</h1>
	  		<p class="intro"><strong>This page allows to visualize the most important seismic events in Chile since 1900. The 
	  			measurement process has improved over time, augmenting the quantity and quality 
	  			of earthquake records. The radius and the color of the circles maps to the 
	  			earthquake magnitude.</strong></p>

	  		<form class="inline-form">
	  			<button id="btnPlay" class="btn btn-info" type="button">Play</button>
	  		</form>
	  	</div>

	  	<div class="tabbable">
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab-about" data-toggle="tab">About</a></li>
		    <li><a href="#tab-data"  data-toggle="tab">Data</a></li>
		  </ul>
		  <div class="tab-content">

		    <div class="tab-pane active" id="tab-about">
		    <p>I am Data Engineer at Algometrics Hedge Fund. I like to create data visualizations
			 with open source tools. I also like to create <a href="http://pnavarrc.wordpress.com/">illustrations</a>
			  in watercolor. Please, feel free to <a href="mailto:pnavarrc@gmail.com">contact me</a> and send me suggestions. You can fork and play with 
			 the <a href="https://github.com/pnavarrc/earthquake">source code</a> of this site in <a href="https://github.com">Github</a>.
			</p>
		      <address>
			    <small>Copyright 2012, <a href="mailto:pnavarrc@gmail.com">Pablo Navarro</a></small>
			  </address>
		    </div>
		    <div class="tab-pane" id="tab-data">
		    	<dl>
		    		<dt>Maps</dt>
			  	<dd>The mapping libraries and tiles are provided by 
			  		<a href="http://mapbox.com/">MapBox</a>. 
			  		Mapbox uses open data from <a href="http://www.openstreetmap.org/">
			  		OpenStreepMap</a> and its contributors.
			  	</dd>
				<dt>Earthquake Data</dt>
				<dd>The earthquake data was retrieved from the <a href="http://quake.geo.berkeley.edu/cnss/">
					ANSS Composite Catalog</a> and joined with the 
					<a href="http://earthquake.usgs.gov/research/data/centennial.php">
					Centennial Catalog</a> from the <a href="http://earthquake.usgs.gov/">USGS</a>. Thanks
					 to the <a href="http://quake.geo.berkeley.edu/">Northern California
					Earthquake Data Center (NCEDC)</a> and to the organizations that 
					contributed the data to the NCEDC.
				</dd>
				<dt>Code</dt>
				<dd>The code source of this page is available in <a href="https://github.com/pnavarrc/earthquake">
					Github</a>. Please, feel free to fork, modify and play with the code.
				</dd>
			  </dl>
		    </div>
		  </div>
		</div>

	  </div>

	  <!-- Map -->
	  <div id="map" class="span8"></div>
	  <div id="d3l"></div>

	</div>


    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
	{{ content }}

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap-tab.js"></script>
</body>